---
layout: base.html 
---
<style>
main form {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1em;
  margin: 1em auto;
  max-width: 500px;
}

main label {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 6em 1fr; /* fallback */
  grid-template-columns: subgrid;
}
</style>

<main>
{{ content | safe }}
    <hr>
    <form>
    <label> Full name <input type="text"> </label>
    <label> Email <input type="email"> </label>
    <label> Message <textarea></textarea> </label>
    <button>Post</button>
    </form>
</main>